@charset "UTF-8";

.container{
    max-width: 960px;
    margin: 0 auto ;

}



.container::after, .container::before{
    content: "";
    display: table;
    clear: both;
}

.grid-1,.grid-2,.grid-3,.grid-4,.grid-5,.grid-6,.grid-7,.grid-8,.grid-9,.grid-10,.grid-11,.grid-12{
    float: left;
    display: block;
    min-height: 1px;
    margin-left: 10px;
    margin-right: 10px;
}

.grid-1{
    width: calc((8.333% * 1) - 20px);
}

.grid-2{
    width: calc((8.333% * 2) - 20px);
}

.grid-3{
    width: calc((25% * 3) - 20px);
}

.grid-4{
    width: calc((8.333% * 4) - 20px);
}

.grid-5{
    width: calc((8.333% * 5) - 20px);
}

.grid-6{
    width: calc((8.333% * 6) - 20px);
}

.grid-7{
    width: calc((8.333% * 7) - 20px);
}

.grid-8{
    width: calc((8.333% * 8) - 20px);
}

.grid-9{
    width: calc((8.333% * 9) - 20px);
}

.grid-10{
    width: calc((8.333% * 10) - 20px);
}

.grid-11{
    width: calc((8.333% * 11) - 20px);
}

.grid-12{
    width: calc((8.333% * 12) - 20px);
}



@media (max-width: 739px) {
    .container{
        width: 300px;

    }
    .grid-1,.grid-2,.grid-3,.grid-4,.grid-5,.grid-6,.grid-7,.grid-8,.grid-9,.grid-10,.grid-11,.grid-12,.grid-mobile-6{
        float: none;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

}

.grid-mobile-6{
    width: calc(50% - 20px);
}